/* TableStyles.module.css */

.even-row {
    background-color: white;
  }
  
  .odd-row {
    background-color: green;
  }
  
  .table-container {
    max-width: 100%;
    overflow-x: auto;
    /* border: 1px solid #ddd; */
    padding: 10px; /* Add padding */
    /* height: 500px; */
  }
  
  .scrollable-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  .tableheading{
    width: '50px';
  }
  th, td {
    border: 1px solid #ddd; 
    padding: 14px 16px 14px 16px; /* Add padding */
    /* text-align: left; */
  }
.vehicleform{
    font-family: "Lora";
    font-weight: 400;
  }